@font-face {
    font-family: 'espinosanova';
    src: url('/fonts/espinosanova-regular-webfont.eot');
    src: url('/fonts/espinosanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/espinosanova-regular-webfont.woff') format('woff'),
         url('/fonts/espinosanova-regular-webfont.ttf') format('truetype'),
         url('/fonts/espinosanova-regular-webfont.svg#espinosa_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
