@font-face {
    font-family: 'ebgaramond';
    src: url('/fonts/ebgaramond-webfont.eot');
    src: url('/fonts/ebgaramond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ebgaramond-webfont.woff') format('woff'),
         url('/fonts/ebgaramond-webfont.ttf') format('truetype'),
         url('/fonts/ebgaramond-webfont.svg#eb_garamondregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
